@model View_Model.StudentModel.StudentDetails;

@{
	<h1>@Model.Header</h1>
	<h2>@Model.Add.StudentId</h2>
	<h2>@Model.Add.City</h2>
	<h2>@Model.Add.State</h2>
	<h2>@Model.Add.Pin</h2>
	<h2>@Model.Add.Country</h2>
	<h2>@Model.Std.StudentId</h2>
	<h2>@Model.Std.Name</h2>
	<h2>@Model.Std.Branch</h2>
	<h2>@Model.Std.Section</h2>
	<h2>@Model.Std.Gender</h2>
	<h1>@Model.Title</h1>
}
