@model Partial_View_Demo.Models.Product
@{
    // This partial view renders a single table row (<tr>) for a Product object.
}
<tr>
    <td>@Model.ProductID</td>
    <td>@Model.Name</td>
    <td>@Model.Price</td>
    <td>@Model.Category</td>
    <td>@Model.Description</td>
</tr>